<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>上架资源管理</title>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax.js}"></script>
    <script language="javascript" type="text/javascript" th:src="@{/js/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/layui/layui.all.js}"></script>
    <link th:href="@{/js/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/base.css}" rel="stylesheet" type="text/css"/>
    <style>
        .steel_list_table input[type="text"] {
            border: 1px solid #dedede;
            text-align: center;
            padding: 1px 2px;
            width: 50px;
            height: 22px;
        }

        .ss input,.ss select{ border:1px solid #dedede;width: 95px; height:28px; line-height:28px; padding:0 5px;}
        .ss td {
            padding: 5px 20px;
        }
    </style>
</head>
<body>
<div th:insert="~{header :: header}"></div>

<section>
    <div class="main w1000">
        <div th:insert="~{left :: left('shelflist')}"></div>
        <aside>
            <div class="resources">
                <div class="resources_tt" th:include="common::varietyTag2"></div>

                <div class="pozition">
                    <p>当前位置：会员中心 &gt; 资源管理 &gt; 上架资源管理</p>
                </div>

                <section>
                    <div class="steel_list w830">
                        <div class="ss">
                            <form name="form1" id="form1" th:action="@{'/shelf_resource/index'}" method="post">
                                <table cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><p>日期：</p><input type="text" th:name="date"
                                                             style="text-align:left;" class="Wdate"
                                                             th:onclick="@{'WdatePicker({dateFmt:\'yyyy-MM-dd\'})'}"
                                                             th:value="${#dates.format(shelfResource.date, 'yyyy-MM-dd')}"
                                                             autocomplete="off"/></td>
                                        <td><p>品名：</p><input type="text" name="varietyName" id="varietyName"
                                                             th:value="${shelfResource.varietyName}" size="18"></td>
                                        <td><p>材质：</p><input type="text" name="material" id="material"
                                                             th:value="${shelfResource.material}" size="18"></td>
                                        <td><p>规格：</p><input type="text" name="specification" id="specification"
                                                             th:value="${shelfResource.specification}" size="18">
                                            <p></td>
                                    </tr>
                                    <tr>
                                        <td><p>产地：</p><input type="text" name="factory" id="factory"
                                                             th:value="${shelfResource.factory}" size="18"></td>
                                        <td><p>仓库：</p><input type="text" name="warehouse" id="warehouse"
                                                             th:value="${shelfResource.warehouse}" size="18"></td>
                                        <input type="hidden" name="page" id="page"/>
                                        <input type="hidden" th:name="${_csrf.parameterName}"
                                               th:value="${_csrf.token}"/>
                                        <td colspan="2"><a href="javascript:find();">搜索</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <form name="form2" id="form2" action="" method="post">
                            <table class="steel_list_table w830" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                <tr>
                                    <!--            <td class="checkbox">全选 <input type='checkbox' id="selallbox" onclick="selall();"/></td>-->
                                    <td>品名</td>
                                    <td>材质</td>
                                    <td>规格</td>
                                    <td>产地</td>
                                    <td>仓库</td>
                                    <td>上架量</td>
                                    <td>销售量</td>
                                    <td>价格</td>
                                    <td>资源日期</td>
                                    <td>资源状态</td>
                                    <td>操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="list:${resourceList}">
                                    <!--            <td class="checkbox"><input type='checkbox' name='checkednum' th:id="@{'checkednum_'+${list.id}}" th:value="${list.id}"/></td>-->
                                    <td th:text="${list.varietyName}"></td>
                                    <td th:text="${list.material}"></td>
                                    <td th:text="${list.specification}" th:id="@{'specification_'+${list.id}}"></td>
                                    <td th:text="${list.factory}"></td>
                                    <td th:text="${list.warehouse}"></td>
                                    <td th:text="${T(com.isechome.ecommerce.common.StringUtils).valueFormat(list.num)}"></td>
                                    <td th:text="${T(com.isechome.ecommerce.common.StringUtils).valueFormat(list.soldNum)}"></td>
                                    <td th:if="${list.price} gt 0.0"><input type="text" th:onblur="'javascript:updatePrice('+this+','+${list.price}+','+${list.id}+');'" th:id="@{'price_'+${list.id}}" th:value="${T(com.isechome.ecommerce.common.StringUtils).valueFormat(list.price)}"></td>
                                    <td th:if="${list.price} eq 0.0"><span style="color: red">无价格</span></td>
                                    <td th:text="${#dates.format(list.date, 'yyyy-MM-dd')}"></td>
                                    <td th:if="${list.status} eq 1">已上架</td>
                                    <td th:if="${list.status} eq 2">返回仓库</td>
                                    <td><button th:if="${list.status} eq 1" type="button" class="layui-btn layui-btn-sm" th:onclick="'off_resource('+${list.id}+')'">下架</button></td>
                                </tr>
                                </tbody>
                            </table>

                            <span style="color: red">注：无基价或者级差设置有误资源将无价格</span>
                            <div class="page">

                                <a th:href="'javascript:queryDeviceRecords('+${pageInfo.prePage}+');'">上一页</a>

                                <p th:each="navigatepageNum:${pageInfo.navigatepageNums}">
                                    <a th:if="${navigatepageNum} eq ${pageInfo.pageNum}" class="now"
                                       th:text="${navigatepageNum}"></a>
                                    <a th:if=" ${navigatepageNum} ne ${pageInfo.pageNum}"
                                       th:href="'javascript:queryDeviceRecords('+${navigatepageNum}+');'"
                                       th:text="${navigatepageNum}"></a>
                                </p>
                                <a th:href="'javascript:queryDeviceRecords('+${pageInfo.nextPage}+');'">下一页</a>


                                <span>到第</span>
                                <input type="text" id="jump_num">
                                <span>页</span>
                                <button type="button" onclick="jumppage();">确定</button>
                            </div>
                        </form>
                        <div style="clear:both"></div>
                    </div>
                </section>
            </div>
        </aside>
    </div>
</section>

<div th:insert="~{footer :: footer}"></div>
<div th:include="common::commonFooter"></div>
</body>
<script>
    $(function () {
        //禁用“确认重新提交表单”
        window.history.replaceState(null, null, window.location.href);
    });
    // 翻页
    function jumppage() {
        var pageNum = document.getElementById("jump_num").value;
        if (pageNum > 0) {
            queryDeviceRecords(pageNum);
        }
    }

    function find(pageNum) {
        document.getElementById('form1').submit();
    }

    function queryDeviceRecords(pageNum) {
        $("#page").val(pageNum);
        document.getElementById('form1').submit();
    }

    var o_price = new Array();
    function updatePrice(obj,old_price,id) {
        if (o_price[id]!=null)old_price = o_price[id];
        let price = obj.value;
        // let id = obj.id;
        if (price!=old_price) {
            layer.confirm('确认修改价格？', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    type: "post",
                    url: "/shelf_resource/update_price",
                    dataType: "json",
                    data: {
                        'price': price,
                        'id': id,
                        "[[${_csrf.parameterName}]]": "[[${_csrf.token}]]"
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.code === 0) {
                            // $("#price_" + id).val(data.data);
                            obj.style.color='red';
                            o_price[id] = price;
                        }

                        if (data.code !== 0) {
                            layer.alert(data.msg);
                        }
                    },
                    error: function (request, status, error) {
                        console.log(error);
                    }
                });
                layer.close(index);
            });
        }
    }

    function off_resource(id) {
        $.ajax({
            type: "post",
            url: "/shelf_resource/off_resource",
            dataType: "json",
            data: {
                'id': id,
                "[[${_csrf.parameterName}]]": "[[${_csrf.token}]]"
            },
            success: function (data) {
                console.log(data);
                if (data.code === 0) {
                    layer.alert(data.msg);
                    location.reload();
                }

                if (data.code !== 0) {
                    layer.confirm('该资源存在待确认或待付款订单，下架将直接取消订单，确认继续下架?', {icon: 3, title:'提示'}, function(index){
                        off_have_order_resource(id);
                        layer.close(index);
                    });
                }
            },
            error: function (request, status, error) {
                console.log(error);
            }
        });
    }

    function off_have_order_resource(id) {
        $.ajax({
            type: "post",
            url: "/shelf_resource/off_have_order_resource",
            dataType: "json",
            data: {
                'id': id,
                "[[${_csrf.parameterName}]]": "[[${_csrf.token}]]"
            },
            success: function (data) {
                if (data.code === 0) {
                    layer.alert(data.msg);
                    location.reload();
                }

                if (data.code !== 0) {
                    layer.alert(data.msg);
                }
            },
            error: function (request, status, error) {
                console.log(error);
            }
        });
    }

</script>
</html>