<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta content="text/html; charset=utf-8" http-equiv=Content-Type>
	<meta http-equiv="X-UA-Compatible" content="IEedge">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<title>安徽钢之家供应链微电商平台</title>
<link rel="stylesheet" type="text/css" href="/css/403.css">
</head>
<div class="maincontainer">
	<div class="bat">
		<img class="wing leftwing" src="/images/403/bat-wing.png">
		<img class="body" src="/images/403/bat-body.png" alt="bat">
		<img class="wing rightwing" src="/images/403/bat-wing.png">
	</div>
	<div class="bat">
		<img class="wing leftwing" src="/images/403/bat-wing.png">
		<img class="body" src="/images/403/bat-body.png" alt="bat">
		<img class="wing rightwing" src="/images/403/bat-wing.png">
	</div>
	<div class="bat">
		<img class="wing leftwing" src="/images/403/bat-wing.png">
		<img class="body" src="/images/403/bat-body.png" alt="bat">
		<img class="wing rightwing" src="/images/403/bat-wing.png">
	</div>
	<img class="foregroundimg" src="/images/403/HauntedHouseForeground.png" alt="haunted house">

</div>

<h1 class="errorcode">ERROR 403</h1>
<div class="errortext">This area is forbidden. Turn back now!</div>