<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta content="text/html; charset=utf-8" http-equiv=Content-Type>
	<meta http-equiv="X-UA-Compatible" content="IEedge">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<title>安徽钢之家供应链微电商平台</title>
<link rel="stylesheet" type="text/css" href="/css/403_2.css">
</head>
<div class='hover'>
	<div class='background'>
		<div class='door'>403</div>
		<div class='rug'></div>
	</div>
	<div class='foreground'>
		<div class='bouncer'>
			<div class='head'>
				<div class='neck'></div>
				<div class='eye left'></div>
				<div class='eye right'></div>
				<div class='ear'></div>
			</div>
			<div class='body'></div>
			<div class='arm'></div>
		</div>
		<div class='poles'>
			<div class='pole left'></div>
			<div class='pole right'></div>
			<div class='rope'></div>
		</div>
	</div>
</div>
