<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isechome.ecommerce.mapper.ecommerce.ScSysStatusLogMapper" >
  <resultMap id="BaseResultMap" type="com.isechome.ecommerce.entity.ScSysStatusLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pmid" property="pmid" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="excessive_stop" property="excessiveStop" jdbcType="DOUBLE" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sc_sys_status_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.isechome.ecommerce.entity.ScSysStatusLog" >
    insert into sc_sys_status_log (id, pmid, `date`, 
      `type`, excessive_stop, creat_time, create_user_id, 
      create_user_name)
    values (#{id,jdbcType=INTEGER}, #{pmid,jdbcType=INTEGER}, #{date,jdbcType=DATE}, 
      #{type,jdbcType=TINYINT}, #{excessiveStop,jdbcType=REAL}, #{creatTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, 
      #{createUserName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.isechome.ecommerce.entity.ScSysStatusLog" >
    update sc_sys_status_log
    set pmid = #{pmid,jdbcType=INTEGER},
      `date` = #{date,jdbcType=DATE},
      `type` = #{type,jdbcType=TINYINT},
      excessive_stop = #{excessiveStop,jdbcType=REAL},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_user_name = #{createUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, pmid, `date`, `type`, excessive_stop, creat_time, create_user_id, create_user_name
    from sc_sys_status_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, pmid, `date`, `type`, excessive_stop, creat_time, create_user_id, create_user_name
    from sc_sys_status_log
  </select>
  <select id="getStatusLogList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select id, pmid, `date`, `type`, excessive_stop, creat_time, create_user_id, create_user_name
    from sc_sys_status_log
    where pmid = #{pmid,jdbcType=INTEGER}
    order by id desc
  </select>
</mapper>