<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <link  th:href="@{/css/bass.css}" rel="stylesheet" type="text/css" />
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <meta content="text/html; charset=utf-8" http-equiv=Content-Type>
    <meta http-equiv="X-UA-Compatible" content="IEedge">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>发票管理</title>
</head>
<body>
<div th:insert="~{header :: header}"></div>
<section>
    <div class="main w1000">
        <aside>
            <div th:insert="~{left :: left(fpmanage)}"></div>
        </aside>
        <aside>
            <div class="resources">
                <div class="resources_tt" th:include="common::varietyTag2"></div>
                <div class="pozition"><p>当前位置：会员中心&gt; 系统管理 &gt; 发票管理 </p></div>
                <div class="cz2"  >
                    <a href="/fpmanage/fpAdd" target="_blank">新增</a>
                </div>
                <table class="management" cellspacing="0" cellpadding="0" border="0" >
                    <thead>
                    <tr style="background: #f6f6f6;">
                     
                        <td>名称</td>
                        <td>税号</td>
                        <td>邮寄地址</td>
                        <td>公司地址</td>
                        <td>开户银行</td>
                        <td>银行账号</td>
                        <td>电话</td>
                        <td style="width: 50px;">是否默认抬头</td>
                        <td style="width: 50px;">发票代码</td>
                        <td style="width: 50px;">备注说明</td>
                        <td >操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="fpList_item:${fpList}" align="center">
                   
                        <td th:text="${fpList_item.rise}"></td>
                        <td style="width: 80px; word-break: break-all;" th:text="${fpList_item.taxnum}"></td>
                        <td th:text="${fpList_item.addressMail}"></td>
                        <td th:text="${fpList_item.addressCompany}"></td>
                        <td th:text="${fpList_item.openBank}"></td>
                        <td style="width: 80px; word-break: break-all;" th:text="${fpList_item.account}"></td>
                        <td th:text="${fpList_item.phone}"></td>
                        <td th:if="${fpList_item.isdefault} eq '1'" th:text="是"></td>
                        <td th:if="${fpList_item.isdefault} ne '1'" th:text="否"></td>
                        <td th:text="${fpList_item.invoiceCode}"></td>
                        <td th:text="${fpList_item.remark}"></td>
                        <td class="cz"  ><span class="xg">
                            <a th:href="@{'/fpmanage/fpDetail?id='+${fpList_item.id}}" target="_blank">修改</a>
                        </span><br><span class="delete">
                            <a th:href="@{'/fpmanage/fpDelete?id='+${fpList_item.id}}"  onClick="return confirm('确定删除吗?');">删除</a>
                        </span></td>
                    </tr>
                    </tbody>
                </table>
                <div class="page">
                    <a th:href="'javascript:queryBasePriceRecords('+${pageInfo.prePage}+',\'/fpmanage/fpList?page=\');'">上一页</a>
                    <p th:each="navigatepageNum:${pageInfo.navigatepageNums}" >
                      <a th:if="${navigatepageNum} eq ${pageInfo.pageNum}" class="now" th:text="${navigatepageNum}"></a>
                      <a th:if=" ${navigatepageNum} ne ${pageInfo.pageNum}" th:href="'javascript:queryBasePriceRecords('+${navigatepageNum}+',\'/fpmanage/fpList?page=\');'" th:text="${navigatepageNum}"></a>
                    </p>
                    <a th:href="'javascript:queryBasePriceRecords('+${pageInfo.nextPage}+',\'/fpmanage/fpList?page=\');'">下一页</a>
                    <span>到第</span>
                    <input type="text" id="jump_num" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                    <span>页</span>
                    <button type="button" onclick="jumpbasepricepage('/fpmanage/fpList?page=');">确定</button>
                  </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
       
            </div>
        </aside>
    </div>
</section>
<div th:insert="~{footer :: footer}"></div>
<div th:include="common::commonFooter"></div>
<script type="text/javascript">
 $(function(){
  $(":radio").click(function(){
   var luId = $(this).val();
   $.ajax({
            type: "POST",//方法类型

            url: "/userInfo/accountUpdateZhuLXR",//url
            data: {'link_user_id':luId,
                    "[[${_csrf.parameterName}]]": "[[${_csrf.token}]]"
                  },
            success: function (data) {
                alert("设置主联系人成功！");
                    location.reload();
            },
            error: function(request, status, error){
                console.log(error);
                alert("设置主联系人失败！");
            }
        });
  });
 });
</script>

</body>
</html>