<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::commonHeader(${title})">
</head>

<div th:insert="~{header :: header}"></div>
<section>

    <div class="search_group w1000">
        <div th:include="common::varietyTag(${vid})"></div>
        <div class="tab_conbox" id="tab_conbox">
            <div class="tab_con" >
                <form id="searchdetail" name="searchdetail" method="post" th:action="'/index?vid='+${vid}" >
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tbody><tr>
                            <td><p>材质：</p><input type="text" id="material" name="material"  th:value="${material}" size="26"></td>
                            <td><p>规格：</p><input type="text" id="spec" name="spec"  th:value="${spec}" size="26"></td>
                            <td>
<!--                                <p>品名：</p><input type="text" id="varietyname" name="varietyname" value="" size="26">-->
                            </td>
                        </tr>
                        <tr>
                            <td><p>仓库：</p><input type="text" id="cangku" name="cangku"  th:value="${cangku}" size="26"></td>
                            <td><p>产地：</p><input type="text" id="originCode" name="originCode"  th:value="${originCode}" size="26"></td>
                            <td><a href="javascript:void(0);"   onclick="submitForm();"  >搜索</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
            </div>
        </div>
    </div>

</section>
<section>
    <div class="steel_list w1000">
<!--        <div class="steel_list_title">-->
<!--            <div class="sort">-->
<!--                <ul>-->
<!--                    <li><a href="#">默认</a></li>-->
<!--                    <li><a href="#">价格</a><img src="images/icon04.png"></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="price">-->
<!--                <p><input type="text" value="" placeholder="¥ 最低价" size="8"> - <input type="text" value="" placeholder="¥ 最高价" size="8"></p>-->
<!--            </div>-->
<!--            <div class="paging">-->
<!--                <a href="#">&lt;</a>-->
<!--                <span><font color="#ff0000">1</font>/30</span>-->
<!--                <a href="#">&gt;</a>-->
<!--            </div>-->
<!--        </div>-->
        <table class="steel_list_table w1000" cellspacing="0" cellpadding="0" border="0">
            <thead>
                <tr>
<!--                    <td class="checkbox">选择</td>-->
                    <td>品名</td>
                    <td>材质</td>
                    <td>规格</td>
                    <td>仓库</td>
                    <td>产地</td>
                    <td>件数</td>
                    <td>成交量/资源量(吨)</td>
                    <td>价格</td>
                    <td>有效期</td>
                    <td class="caozuo">操作</td>
                </tr>
            </thead>
            <tbody th:each="resourceSales:${resourceSalesList}" >
                <tr   >
<!--                    <td class="checkbox"><input type="checkbox" value="" checked=""></td>-->
                    <td th:text="${resourceSales.varietyname}">螺纹钢</td>
                    <td th:text="${resourceSales.material}">HRB400</td>
                    <td th:text="${resourceSales.spec}">Φ10*12</td>
                    <td th:text="${resourceSales.cangku}">A</td>
                    <td th:text="${resourceSales.originCode}">钢晨库</td>
                    <td th:text="${resourceSales.piece}">20</td>
                    <td th:text="${resourceSales.soldNum}+'/'+${resourceSales.num}"><span class="red">210</span></td>
                    <td ><span class="red" th:text="${resourceSales.price}">¥ 4,370.00</span></td>
                    <td ><span th:text="${#dates.format(resourceSales.salesEndTime, 'MM-dd HH:mm:ss')}"></span></td>
                    <td class="nocaozuo" th:if="${purchaseMid} eq ${resourceSales.salesMid} or ${resourceSales.soldNum} ge ${resourceSales.num}">
                        <a href="javascript:void(0);" th:if="${purchaseMid} eq ${resourceSales.salesMid}"  onclick="alert('您不可以购买自己的资源！');"  >购物车</a>
                        <a href="javascript:void(0);" th:if="${purchaseMid} ne ${resourceSales.salesMid} and ${resourceSales.soldNum} ge ${resourceSales.num}"  onclick="alert('资源已售完！');"  >购物车</a>
                    </td>
                    <td class="caozuo" th:if="${purchaseMid} ne ${resourceSales.salesMid} and ${resourceSales.soldNum} lt ${resourceSales.num}">
                        <a href="javascript:void(0);"   th:onclick="'add_purchase_car(\''+${resourceSales.id}+'\')'" >购物车</a>
                    </td>
                </tr>
            </tbody>

            <tfoot>
<!--            <tr>-->
<!--                <td class="checkbox" colspan="10" id="onlyChoseAlert">-->
<!--                    <input type="checkbox" value=""> <p>全选</p><a href="javascript:void(0);" onclick="show('SonContent1')">加入购物车</a>-->
<!--                </td>-->
<!--            </tr>-->
            </tfoot>
        </table>
        <div class="page">
            <a th:href="'javascript:queryDeviceRecords('+${pageInfo.prePage}+','+${vid}+');'">上一页</a>
            <p th:each="navigatepageNum:${pageInfo.navigatepageNums}" >
                <a th:if="${navigatepageNum} eq ${pageInfo.pageNum}" class="now" th:text="${navigatepageNum}"></a>
                <a th:if=" ${navigatepageNum} ne ${pageInfo.pageNum}" th:href="'javascript:queryDeviceRecords('+${navigatepageNum}+','+${vid}+');'" th:text="${navigatepageNum}"></a>
            </p>
            <a th:href="'javascript:queryDeviceRecords('+${pageInfo.nextPage}+','+${vid}+');'">下一页</a>
            <span>到第</span>
            <input type="text" id="jump_num" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">
            <span>页</span>
            <button th:onclick="@{'var pageNum=document.getElementById(\'jump_num\').value;if(pageNum>0){queryDeviceRecords(pageNum,'+${vid}+');}'}">确定</button>
        </div>

    </div>
</section>


<div th:insert="~{footer :: footer}"></div>
<div th:include="common::commonFooter"></div>


</html>