<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>订单管理</title>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax.js}"></script>
    <script language="javascript" type="text/javascript" th:src="@{/js/My97DatePicker/WdatePicker.js}"></script>
    <link  th:href="@{/css/base.css}" rel="stylesheet" type="text/css"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script th:src="@{/js/chosen.js}" type="text/javascript"></script>
    <link th:href="@{/css/chosen.css}" rel="stylesheet" type="text/css"/>
  
   
    <style>
        .chosen-container a{width: 180px;}
        .chosen-container a:hover{color: #333;background: #fff;}
        .ss td {padding: 5px 5px;}
        .searchDiv{left: 55px;width: 230px;}
        .order .process .tab1 .menu li{width: 130px;}
    </style>
</head>
<body onload="onload();">
<div th:insert="~{header :: header}"></div>

<section>
<div class="main w1000">
    <div th:insert="~{left :: left(${mark})}"></div>
    <aside>
    <div class="resources">
    <div class="resources_tt" th:include="common::varietyTag2"></div>

    <div class="pozition">
        <p>当前位置：会员中心 &gt; 订单管理 &gt; 
        <span th:if="${status eq 'all'}">全部订单</span>
        <span th:if="${status eq '1'}">待确认订单</span>
        <span th:if="${status eq '2'}">待付款订单</span>
        <span th:if="${status eq '3'}">已付款订单</span>
        <span th:if="${status eq '4'}">已结算订单</span>
        <span th:if="${status eq '0'}">已取消订单</span>
        </p>
    </div>

    <div class="ss">
    <form name="form1" id="form1" th:action="@{'/scorderlist/index?status='+${status}}" method="post">
        <table cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td><p>品名：</p><input type="text" name="varietyName" id="varietyName" th:value="${varietyName}" size="18"></td>
                <td><p>材质：</p><input type="text" name="Material" id="Material" th:value="${Material}" size="18"></td>
                <td><p>规格：</p><input type="text" name="Spec" id="Spec" th:value="${Spec}" size="18"></td>
            </tr>
            <tr>
                <td><p>产地：</p><input type="text" name="origin_code" id="origin_code" th:value="${origin_code}" size="18"></td>
                <td colspan="3"><p>订单时间：</p><input type="text" name="stime" id="stime" style="width:180px" class="Wdate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" th:value="${stime}" autocomplete="off" size="18"><p> - </p><input type="text" name="etime" id="etime" style="width:180px" class="Wdate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" th:value="${etime}" autocomplete="off" size="18"></td>
            </tr>

            <tr>
                <td><p>订单号：</p><input type="text" name="orderId" id="orderId" th:value="${orderId}" size="18"></td>
                <td  style="position:relative;padding: 5px 5px;" id="searchtd" >
                        <div class="searchBox" th:if="${pt==1}" >
                           <p>公司：</p>  <input type="text" autocomplete="off"  id="cameName" th:value="${companyName}" name="companyname" placeholder="请输入公司名称" onkeyup="getCameraNames()"  style="width:230px;" />
                           <input type="hidden" name="companyid" id="companyid" th:value="${mid}">
                           <input type="hidden" id="parameterName" th:value="${_csrf.parameterName}">
                           <input type="hidden" id="token" th:value="${_csrf.token}">
                        </div>
                        <!--搜索提示框 -->
                        <div class="searchDiv">
                        </div>
                        <div  id="dataList"  style="display:none;" >
                            <p th:each="item:${tmpcompay}" th:id="${item.id}" th:text="${item.comname}"></p>
                        </div>
                </td>
                <td><a href="javascript:find();">搜索</a></td>
            </tr>
            <input type="hidden" name="page" id="page"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </tr></tbody>
        </table>
    </form>
    </div>
    </div>
    <section>
    <div class="order">
    <div class="process">
    <div class="tab1" id="tab1">
    <div class="menu">                                                                                              
        <ul>
            <li onclick="setTab('all')" th:if="${status eq 'all'}" class="off">全部订单</li>
            <li onclick="setTab('all')" th:if="${status ne 'all'}">全部订单</li>
            <li onclick="setTab(1)" th:if="${status eq '1'}" class="off">待确认订单</li>
            <li onclick="setTab(1)" th:if="${status ne '1'}">待确认订单</li>
            <li onclick="setTab(2)" th:if="${status eq '2'}" class="off">待付款订单</li>
            <li onclick="setTab(2)" th:if="${status ne '2'}">待付款订单</li>
            <li onclick="setTab(3)" th:if="${status eq '3'}" class="off">已付款订单</li>
            <li onclick="setTab(3)" th:if="${status ne '3'}">已付款订单</li>
            <li onclick="setTab(4)" th:if="${status eq '4'}" class="off">已结算订单</li>
            <li onclick="setTab(4)" th:if="${status ne '4'}">已结算订单</li>
            <li onclick="setTab(0)" th:if="${status eq '0'}" class="off">已取消订单</li>
            <li onclick="setTab(0)" th:if="${status ne '0'}">已取消订单</li>
        </ul>
    </div>
    <div class="menudiv">
    <div id="con_one_1">
    <div class="confirmed_order">
        <table cellspacing="0" cellpadding="0" border="0">
        <thead>
            <tr class="tt">
                <td>品名</td><td>材质</td><td>规格</td><td>产地</td><td>仓库</td><td>件数</td><td>重量(t)</td><td>单价(元)</td><td>总金额(元)</td>
            </tr>
        </thead>
        <tbody>
            <span th:each="list:${orderlist}">
            <tr class="tittle">
                <td colspan="11">
                    <span  style="padding-right: 30px;" th:text="${list.orderId}"></span>
                    <span  th:text="${commap[list.purchaseMid]}"></span>
                    <span style="float: right;padding-right: 20px;" th:if="${status} eq 'all'" >
                        <p th:if="${list.status} ne 2" style="color: #007FFF;" th:text="${allstatus[list.status]}"></p>
                        <p th:if="${list.status} eq 2"  style="color: red;" th:text="${allstatus[list.status]}"></p>
                    </span>
                    <p style="float: right;padding-right: 20px;">订单金额: <span  th:text="${#numbers.formatDecimal(list.totalPrice,0,2)}"></span></p>
                    <p style="float: right;padding-right: 20px;">订单时间: <span  th:text="${#dates.format(list.creatTime, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
                </td>
            </tr>

            <tr class="tt" th:each="detail:${list.ScOrderListDetail}" th:if="(${list.status} ne 0 and ${detail.isDeleted} eq 0) or ${list.status} eq 0 ">
                <td th:text="${detail.ScShelfResource.varietyName}"></td>
                <td th:text="${detail.ScShelfResource.material}"></td>
                <td th:text="${detail.ScShelfResource.specification}"></td>
                <td th:text="${detail.ScShelfResource.factory}"></td>
                <td th:text="${detail.ScShelfResource.warehouse}"></td>
                <td th:text="${#numbers.formatInteger(detail.piece,0)}==0?'-':${#numbers.formatInteger(detail.piece,0)} "></td>
                <td th:text="${detail.num}"></td>
                <td th:text="${detail.price}"></td>
                <td  th:if="${detail.price} ne null and ${list.ticketType}==1 and ${list.freight} ne null " th:text="${#numbers.formatDecimal((detail.price+list.freight)* detail.num,0,2)}"></td>
                <td  th:if="${detail.price} ne null and (${list.ticketType}==2 or (${list.ticketType}==1 and ${list.freight} eq null))" th:text="${#numbers.formatDecimal((detail.price)* detail.num,0,2)}"></td>
                <td  th:if="${detail.price} eq null" ></td>
            </tr>

            <tr class="bb" >
                <td colspan="11">
                <span class="bt1" th:if="(${list.status} eq '1') and ${pt} eq 1 and  ${#dates.format(list.creatTime, 'yyyy-MM-dd')}  eq ${#dates.format(today, 'yyyy-MM-dd')}   "><a href="javascript:void(0)" th:onclick="'queren(\''+${list.id}+'\');'">确 认</a></span>

                <span class="bt1" th:if="(${list.status} eq '3' or ${list.status} eq '4' ) and ${isht[list.id]} eq 1"><a th:href="@{'/scorderlist/printHt?id='+${list.id}}"   target='_blank'>合 同</a></span>

                <span class="bt1"><a href="javascript:void(0)" th:onclick="'detail(\''+${list.id}+'\');'">详 细</a></span>
              
                <span class="bt3" th:if="${list.status} eq '1' or ${list.status} eq '2'"><a href="javascript:void(0)" th:onclick="'cancel(\''+${list.id}+'\');'">取 消</a></span>
                </td>	
            </tr>
           
        </tbody>
        </table>
        </div></div></div>
        <div class="page">
            <a th:href="'javascript:queryDeviceRecords('+${pageInfo.prePage}+');'">上一页</a>
            <p th:each="navigatepageNum:${pageInfo.navigatepageNums}" >
                <a th:if="${navigatepageNum} eq ${pageInfo.pageNum}" class="now" th:text="${navigatepageNum}"></a>
                <a th:if=" ${navigatepageNum} ne ${pageInfo.pageNum}" th:href="'javascript:queryDeviceRecords('+${navigatepageNum}+');'" th:text="${navigatepageNum}"></a>
            </p>
            <a th:href="'javascript:queryDeviceRecords('+${pageInfo.nextPage}+');'">下一页</a>
            <span>到第</span>
            <input type="text" id="jump_num">
            <span>页</span>
            <button type="button" onclick="jumppage();">确定</button>
        </div>
    </div>
</div>
</div>
</section>
</aside>
</div>
</section>

<div th:insert="~{footer :: footer}"></div>
<div th:include="common::commonFooter"></div>
</body>
<script>
    // 翻页
    function jumppage() {
        var pageNum = document.getElementById("jump_num").value;
        if(pageNum>0){
            queryDeviceRecords(pageNum);
        }
    }

    function find(pageNum) {
        document.getElementById('form1').submit();
    }
    
    function queryDeviceRecords(pageNum) {
        $("#page").val(pageNum);
        document.getElementById('form1').submit();
    }


    function queren(id){
        if (confirm("确定确认订单？")){
            $.ajax({ 
                type: "post", 
                url: "/scorderlist/updateOrderQren",   
                dataType: "json",
                data: {
                    'id': id,
                    "[[${_csrf.parameterName}]]": "[[${_csrf.token}]]"
                },
                success: function (data) {
                    console.log(data);
                    if (data == "1") {
                        alert("已确认！");
                        location.reload();
                    }else if(data == "2"){
                        alert("资源发生调价，无法确认！");
                    } else {
                        alert("余额不足，确认失败！");
                    }
                },
                error: function(request, status, error){
                    console.log(error);
                    alert("确认失败！");
                }
            });
        }
    }

    // 取消
    function cancel(id) {
        if (!confirm("确定取消？")){
            return false;
        }
        $.ajax({ 
            type: "post", 
            url: "/scorderlist/updateOrderStatus",   
            dataType: "json",
            data: {
                'id': id,
                'status': "0",
                "[[${_csrf.parameterName}]]": "[[${_csrf.token}]]"
            },
            success: function (data) {
                if (data == "1") {
                    alert("取消成功！");
                    location.reload();
                } else {
                    alert("取消失败！");
                }
            },
            error: function(request, status, error){
                console.log(error);
                alert("取消失败！");
            }
        });
    }

    function detail(id) {
        window.open("detail?id="+id)
    }

    function setTab(status) {
        window.location.href = "index?status="+status;
    }
</script>
</html>