<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>订单详情</title>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax.js}"></script>
    <script language="javascript" type="text/javascript" th:src="@{/js/My97DatePicker/WdatePicker.js}"></script>
    <link  th:href="@{/css/base.css}" rel="stylesheet" type="text/css"/>
    <style>
        .logistics table td {float:none;}
        .logistics table td input[type="text"] {
            border: 1px solid #dedede;
            text-align: center;
            padding: 1px 2px;
            width: 85px;
            height: 22px;
        }
        .delbutton{
            background: #2C98DD;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            margin-top: 5px;
            padding: 4px 15px;
        }
        .save{
            height: 38px;
            width: 100px;
            border: none;
            background: #F7836A;
            color: #ffffff;
            padding: 0 30px;
            box-shadow: none;
        }
        .save:hover{ background:#cc0000;}
        .nxrTable{border-bottom: solid 1px #dddddd;}
    </style>
</head>
<body>
<div th:insert="~{header :: header}"></div>

<section>
    <div class="main w1000">
        <div th:insert="~{left :: left(${mark})}"></div>
        <aside>
        <div class="resources">
        <div class="resources_tt" th:include="common::varietyTag2"></div>
    
        <div class="pozition">
            <p>当前位置：会员中心 &gt; 订单管理 &gt; 订单详情
            </p>
        </div>

        <div id="con_one_2">	
			<div class="order_list_dqr">
			<div class="tt">
				<span>
                    订单编号：<span th:text="${orderInfo.orderId}"></span>
                </span>
				<span>
                    订单日期：<span th:if="${orderInfo.status} eq '1'" th:text="${#dates.format(orderInfo.creatTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                    <span th:if="${orderInfo.status} ne '1'" th:text="${#dates.format(orderInfo.confirmTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </span>
				<span th:switch="${orderInfo.status}">
                    订单状态：
                    <span  th:case="'1'">待确认</span>
                    <span  th:case="'2'">待发货</span>
                    <span  th:case="'3'">发货中</span>
                    <span  th:case="'4'">已完成</span>
                    <span  th:case="'5'">无效</span>
                </span>
            </div>
			<table cellspacing="0" cellpadding="0" border="0">
				<tbody>
                <tr>
                    <td>品名</td><td>材质</td><td>规格</td><td>产地</td><td>仓库</td><td>件数</td><td>重量</td><td>价格</td><td>订单时间</td>
				</tr>
                <tr>
					<td th:text="${orderInfo.resourceSales.varietyname}"></td>
                    <td th:text="${orderInfo.resourceSales.material}"></td>
                    <td th:text="${orderInfo.resourceSales.spec}"></td>
                    <td th:text="${orderInfo.resourceSales.originCode}"></td>
                    <td th:text="${orderInfo.resourceSales.cangku}"></td>
                    <td th:text="${#numbers.formatInteger(orderInfo.piece,0)}"></td>
                    <td th:text="${orderInfo.num}"></td>
                    <td th:text="${#numbers.formatInteger(orderInfo.price,0)}"></td>
                    <td th:if="${orderInfo.status} eq '1'" th:text="${#dates.format(orderInfo.creatTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:if="${orderInfo.status} ne '1'" th:text="${#dates.format(orderInfo.confirmTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
				</tr>	
				</tbody>
            </table>
			</div>
			
			<div class="order_list_yqr">
			<div class="tt">
                <span>采购方</span>				
            </div>
			<table cellspacing="0" cellpadding="0" border="0">
				<tbody>
                <tr>
					<td>公司名称：<span th:text="${purchaseCompany.comName}"></span> </td>
					<td>公司描述：<span th:text="${purchaseCompany.comDesc}"></span> </td>				
				</tr>
                <tr>
					<td>公司地址：<span th:text="${purchaseCompany.address}"></span> </td>
                </tr>
                </tbody>
            </table>
			</div>
			
			<div class="order_list_yqr">
			<div class="tt">
				<span>供应方</span>				
            </div>
			<table cellspacing="0" cellpadding="0" border="0">
				<tbody>
                <tr>
					<td>公司名称：<span th:text="${salesCompany.comName}"></span> </td>
					<td>公司描述：<span th:text="${salesCompany.comDesc}"></span> </td>				
				</tr>
                <tr>
					<td>公司地址：<span th:text="${salesCompany.address}"></span> </td>
                </tr>
                </tbody>
            </table>
			</div>
			
			<div class="order_list_yqr">
			<div class="tt">
				<span>收货联系人信息</span>				
			</div>
			<table cellspacing="0" cellpadding="0" border="0" id="nxrTable">
				<tbody>
                <tr>
					<td>姓名：<span th:text="${linkUser.real_name}"></span></td>
					<td>省份：<span th:text="${purchaseCompany.addressState}"></td></td>	
					<td>手   机： <span th:text="${linkUser.mobile}"></span></td>	
				</tr>
                <tr>
                    <td>Email： <span th:text="${linkUser.email}"></span></td>
					<td>城市：<span th:text="${purchaseCompany.addressCity}"></span></td>
					<td>身份证：<span th:text="${linkUser.idcard}"></span></td>
				</tr>
                <tr>
					<td>地 址：<span th:text="${purchaseCompany.address}"></span></td>			
					<td></td>
					<td></td>
				</tr>
				</tbody>
            </table>
			</div>
			
			<div class="logistics" th:if="${orderInfo.status} ne '1'">
			<div class="tt">
				<span>物流信息</span>	
				<span>已提货件数：<span th:text="${#numbers.formatInteger(orderInfo.actualPiece, 0)}"></span> </span>     
				<span style="color:#FF0004">待提货件数： <span th:text="${#numbers.formatInteger(orderInfo.piece - orderInfo.actualPiece, 0)}"></span></span>
				<span th:if="${iswuliu} eq '1'" style=" float: right;">
                    <a href="javascript:void(0)" onclick="newline();">+新增物流</a>
                </span>
				</div>
                <form name="form1" id="form1" action="#" method="post">
                <table cellspacing="0" cellpadding="0" border="0" style="text-align: center;">
                    <tbody>
                    <tr>
                        <td>车牌号 </td>
                        <td>件 数</td>	
                        <td>重 量</td>
                        <td>提货人</td>	
                        <td th:if="${iswuliu} eq '1'">操作</td>	
                    </tr>
                    <tr th:each="list:${logisticsInfo}">
                        <td th:text="${list.carNumber}"></td>
                        <td th:text="${#numbers.formatInteger(list.piece,0)}"></td>
                        <td th:text="${list.num}"></td>
                        <td><span th:each="shipper:${shipper}" th:if="${shipper.id} eq ${list.shipperId}" th:text="${shipper.real_name}"></span></td>
                        <td> <input th:if="${iswuliu} eq '1'" type="button" value="删除" th:onclick="'del(\''+${list.id}+'\');'" class="delbutton"></td>
                    </tr>
                    <tr id="overnode" th:if="${iswuliu} eq '1'">
                        <td colspan="5">
                            <input class="save" type="button" value="保存" onclick="save();">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <input type="hidden" name="orderid" th:value="${orderInfo.id}"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
			</div>
            <div th:if="${isshenghe} eq '1'" class="logistics">    
                <div class="order_confirm">
                    <div class="confirm">
                        <input type="password" name="pay_password" id="pay_password" placeholder="输入交易密码">
                        <input type="button" value="审核" onclick="shenhe();">
                    </div>
                </div>           
            </div>
            <div th:if="${iswancheng} eq '1'" class="logistics">    
                <div class="order_confirm">
                    <div class="confirm">
                        <input type="button" value="发货完成" onclick="wancheng();">
                    </div>
                </div>           
            </div>
  </div>
</div>

<span id="selshipper" style="display: none;">
    <select name="shipper_id">
        <span th:each="shipper:${shipper}">
        <option th:value ="${shipper.id}" th:text="${shipper.real_name}"></option>
        </span>
    </select>
</span>

</section>

<div th:insert="~{footer :: footer}"></div>
<div th:include="common::commonFooter"></div>
</body>

<script> 
    addCss();
    function addCss(){
        var status = "[[${orderInfo.status}]]";
        if (status == "1") {
            $("#nxrTable").addClass("nxrTable");
            console.log(status);
        }
    }
    function newline(){
        if(document.getElementById("addline")){ 
            //存在 
            return false;
        } 
        var orderType = "[[${orderInfo.orderType}]]";
        var addhtml = '<tr id="addline"><td><input type="text" id="car_number" name="car_number"></td><td><input type="text" name="piece" id="piece" oninput="checkPiece(this,\''+orderType+'\')"></td>';
        if (orderType == "1") {
            addhtml += '<td><input type="text" name="num" id="num" readonly></td>'
        } else {
            addhtml += '<td><input type="text" name="num" id="num" oninput="checkNum(this)"></td>'
        }
        addhtml += '<td>' + $("#selshipper").html() + '</td></tr>';
        $( "#overnode" ).before(addhtml);
    }

    function checkPiece(obj, orderType){
        var piece = "[[${#numbers.formatInteger(orderInfo.piece - orderInfo.actualPiece, 0)}]]";
        obj.value = obj.value.replace(/[^0-9]/g,''); //只能输入正整数
        var inputpiece = obj.value;
        if (Number(inputpiece) > Number(piece)) {
            alert("件数不能超过待提货件数！");
            obj.value = "";
            if (orderType == "1") {
                $("#num").val("");
            }
            return false;
        }
        if (orderType == "1") {
            getWeight();
            checkNum(document.getElementById("num"));
        }
    }

    function checkNum(obj){
        var orderType = "[[${orderInfo.orderType}]]";
        var num = "[[${orderInfo.num - orderInfo.actualNum}]]";
        num = Number(num).toFixed(3);
        obj.value = obj.value.replace(/[^\d.]/g, ""); //清除“数字”和“.”以外的字符   
        obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个. 清除多余的   
        obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d\d).*$/, '$1$2.$3'); //只能输入三个小数   
        var inputnum = obj.value;
        if (Number(inputnum) > Number(num)) {
            alert("重量不能超过待提货重量！");
            obj.value = "";
            if (orderType == "1") {
                $("#piece").val("");
            }
            return false;
        }
    }

    //螺纹根据件数获取重量
    function getWeight() {
        var spec = "[[${orderInfo.resourceSales.spec}]]";
        $.ajax({ 
            type: "post", 
            url: "/resourcemanage/getWeight",   
            dataType: "json",
            async:false, 
            data: {
                'spec':spec,
                "[[${_csrf.parameterName}]]": "[[${_csrf.token}]]"
            },
            success: function (data) {
                setWeight(data);
            },
            error: function(request, status, error){
                console.log(error);
            }
        });
    }

    function setWeight(oneweight) {
        var piece = $("#piece").val();
        var sumWeight = piece * oneweight;
        $("#num").val(sumWeight.toFixed(3));
    }

    function save(){
        if(!document.getElementById("addline")){ 
            alert("请添加物流信息！");
            return false;
        }
        if($("#car_number").val() == ""){ 
            alert("请填写车牌号！");
            return false;
        } 
        if($("#piece").val() <= 0){ 
            alert("请填写件数！");
            return false;
        } 
        if($("#num").val() <= 0){ 
            alert("请填写重量！");
            return false;
        } 
        $.ajax({
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/orderinformation/addLogistics" ,//url
            data: $('#form1').serialize(),
            success: function (data) {
                if (data == "1") {
                    alert("保存成功！");
                    location.reload();
                } else {
                    alert("保存失败！");
                }
            },
            error: function(request, status, error){
                console.log(error);
                alert("保存失败！");
            }
        });
    }

    function del(id){
        if (!confirm("确定删除？")){
            return false;
        }
        $.ajax({ 
            type: "post", 
            url: "/orderinformation/delLogistics",   
            dataType: "json",
            data: {
                'id': id,
                "[[${_csrf.parameterName}]]": "[[${_csrf.token}]]"
            },
            success: function (data) {
                if (data == "1") {
                    alert("删除成功！");
                    location.reload();
                } else {
                    alert("删除失败！");
                }
            },
            error: function(request, status, error){
                console.log(error);
                alert("删除失败！");
            }
        });
    }

    // 审核
    function shenhe() {
        var checkstr = checkPayWord();
        if (checkstr == "successed") {
            $.ajax({ 
                type: "post", 
                url: "/orderinformation/orderShenhe",   
                dataType: "json",
                data: {
                    'id': "[[${orderInfo.id}]]",
                    'status': "2",
                    "[[${_csrf.parameterName}]]": "[[${_csrf.token}]]"
                },
                success: function (data) {
                    if (data == "1") {
                        alert("审核成功！");
                        location.reload();
                    } else if (data == "2") {
                        alert("超过剩余资源量，审核失败！");
                    } else {
                        alert("审核失败！");
                    }
                },
                error: function(request, status, error){
                    console.log(error);
                    alert("审核失败！");
                }
            });
        }
    }

    function checkPayWord() {
        var inputPayWord = $("#pay_password").val();
        var str = "falsed";
        if(inputPayWord==""){
            alert("请输入交易密码！");
            return str;
        }
        $.ajax({ 
            type: "post", 
            url: "/resourcemanage/checkPayWord",   
            dataType: "json",
            async:false, 
            data: {
                'inputPayWord': inputPayWord,
                "[[${_csrf.parameterName}]]": "[[${_csrf.token}]]"
            },
            success: function (data) {
                if (data == "1") {
                    str = "successed";
                } else if(data == '2'){
                    alert("交易密码错误！")
                }
            },
            error: function(request, status, error){
                console.log(error);
            }
        });
        return str;
    }

    // 发货完成
    function wancheng(id) {
        if (!confirm("确定发货完成？")){
            return false;
        }
        $.ajax({ 
            type: "post", 
            url: "/orderinformation/updateStatus",   
            dataType: "json",
            data: {
                'id': "[[${orderInfo.id}]]",
                'status': "4",
                "[[${_csrf.parameterName}]]": "[[${_csrf.token}]]"
            },
            success: function (data) {
                if (data == "1") {
                    alert("操作成功！");
                    location.reload();
                } else {
                    alert("操作失败！");
                }
            },
            error: function(request, status, error){
                console.log(error);
                alert("操作失败！");
            }
        });
    }
</script>
</html>